* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Nunito", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: #1f2937;
}
a:focus{
outline: none  ;
box-shadow: 3px 2px 1.3rem greenyellow;
}
.container {
  width: 40rem;
  max-width: 90%;
  height: 63rem;
  padding: 7rem 5rem;
  margin: 10rem auto;
  background-color: #111827;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr;

  align-items: center;
  justify-items: center;

  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}
h1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.header-address {
  color: greenyellow;
  margin-bottom: 3rem;
  font-size: 1.3rem;
}
.con {
  background-color: #1f2937;
  border-radius: 50%;
  margin-bottom: 2rem;
  overflow: hidden;
}
img {
  height: 12rem;
  width: 12rem;
  transition: all 1s;
}
.con:hover img,
.con:active img {
  transform: scale(1.2);
}
.header {
  text-align: center;
}
.anchor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  list-style: none;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.header-infor{
  font-size: 1.5em;
  
  
  }
li {
  background-color: #1f2937;
  width: 26rem;
  padding: 1rem 0;
  text-align: center;
  border-radius: 5px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

li:hover,
li:active,
li:hover a,
li:active a {
  background-color: greenyellow;
  color: black;
}
